

.fluid-container{
    margin-left: 5%;
    margin-right: 5%;
}
#map{
    padding-top: 1000px;
    width: 40%;
    padding-left: 250px;
    padding-right: 250px;
    border-radius: 5px;
    margin-right: 10px;
    height: 500px;
}

#container-grid {
    overflow-y: scroll;
    list-style: none;
    max-height: 500px;
    margin-bottom: 50px;
}

#chill-spot-list{
}

#chill-spot{
  float: right;
  list-style-type: none;
  border: 0.5px;
  width: 890px;
  max-height: 250px;
  border-style: solid;
  border-color: black;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}

#chill-spot:active{
}



#vibe-container{

}

#mood{
  padding: 1px;
  margin: 1px;
}

.wrap{
  float:right;
  margin:0;
  padding:0;
}
.wrap{
  text-align:center;
}
.vote{
  font-size:36px;
}
.up{
  color:green;
}
.down{
  color:red;
}
.inactive{
  color:gray;
}
.score{
  position: relative;
  display:block;
  padding: 5px 0;
}
.badge{
  background: #eee;
  padding:5px 10px;
  border-radius: 30px;
  position: absolute;
  top:0;
  margin-left:10px;
}


/*
body {
  width: 80%;
  margin: 30px auto;
  font-family: sans-serif;
}

h3 {
  text-align: center;
  font-size: 1.65em;
  margin: 0 0 30px;
}

 div {
  font-size: 0;
}

 a {
  font-size: 16px;
  overflow: hidden;
  display: inline-block;
  margin-bottom: 8px;
  width: calc(50% - 4px);
  margin-right: 8px;
}

 a:nth-of-type(2n) {
  margin-right: 0;
}

@media screen and (min-width: 50em) {
  a {
    width: calc(25% - 6px);
  }

  a:nth-of-type(2n) {
    margin-right: 8px;
  }

  a:nth-of-type(4n) {
    margin-right: 0;
  }
}

a:hover img {
  transform: scale(1.15);
}

 figure {
  margin: 0;
}

img {
  border: none;
  max-width: 120%;
  height: auto;
  display: block;
  background: #ccc;
  transition: transform .2s ease-in-out;
}

.p a {
  display: inline;
  font-size: 13px;
  margin: 0;
}

 .p {
  text-align: center;
  font-size: 13px;
  padding-top: 100px;
}*/
