<ul>
  <a><li>category1</li></a>
  <a><li>category2</li></a>
  <a><li>category3</li></a>
  <a><li>category4</li></a>
  <a><li>category5</li></a>
  <a><li>category6</li></a>
  <a><li>category7</li></a>
  <a><li>category8</li></a>
  <a><li>category9</li></a>
</ul>
