<body id="home">
<div class="fluid-container">
  <div class="col-md-6">
    <div class="row">
      <ul id = "city-list-home">
         <a href="/city/Toronto"><li id = "city-item">Toronto</li></a>
         <a><li id = "city-item">City Two</li></a>
         <a><li id = "city-item">City Three</li></a>
         <a><li id = "city-item">City Four</li></a>
         <a><li id = "city-item">City Five</li></a>
         <a><li id = "city-item">City Six</li></a>
      </ul>
    </div>
  </div>
  <div class="col-md-6" id="call-to-action">
    <h1 id="home-text">Share your city.</h1>
  </div>
</div>
</body>
