<div class="fluid-container">
  <h1>Home</h1>
    <ul>
       <a href="/city/Toronto"><li>Toronto</li></a>
       <a><li>city2</li></a>
       <a><li>city3</li></a>
       <a><li>city4</li></a>
       <a><li>city5</li></a>
       <a><li>city6</li></a>
    </ul>

  </div>
