<!DOCTYPE html>
<html lang="en">
<head>

  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Creative - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

  <link rel="stylesheet" href="/stylesheets/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">


  <link rel="stylesheet" href="/stylesheets/application.css">

  <script src="https://use.fontawesome.com/daf5a949cf.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/javascript/application.js"></script>




  <title></title>

</head>

<body>
  <div class="fluid-container">
    <ul class="nav nav-pills">
      <li role="presentation">
        <a href="/">Home</a>
      </li>
      <% if current_user %>
        <li role="presentation">
          <a href="/users/logout">Logout</a>
        </li>
      <% else %>
          <li role="presentation">
            <a href="/users/login">Login</a>
          </li>
      <% end %>
      <% unless current_user %><li role="presentation">
        <a href="/users/new">Signup</a>
      </li>
      <% end %>
    </ul>
  </div>
  <%= yield %>

<script src="https://maps.googleapis.com/maps/api/js?callback=window.initMap" async defer></script>
</body>
</html>
